# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SilkTesting.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\tobyl\RiderProjects\SilkTesting\.idea\.idea.SilkTesting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
